/* Definir a midia query das dimensões */
@media screen and (min-width: 0px) and (max-width:576px){
    header{
        height: 200px;
        background-repeat: no-repeat;
        background-position: 0 0px;
    }

    header nav{
        padding: 50px 10px 50px 5px;
        height: 100vh;
        width: 200px;
        margin-left: -200px;
    }

    header nav ul {
        display: block;
        
    }
    header nav ul li {
        margin-bottom: 45px;
    }

    header nav ul li img{
        display: none;
    }

    .btn-mobile{
        display: block;
        padding: 10px;
        font-size: 20pt;
        font-weight: bold;
    }

    .slogan{
        margin-top: 0px;
        font-size: 17pt;
        position: absolute;
        top: 100px;
        text-shadow: 2px 3px 4px #000;
    }

    .em-linha {
        flex-direction: column;
    }

    .div-home img{
        width: 100%;

    }
}